* {
  box-sizing: border-box;
}

body {
  margin: 24px auto;
  background-color: #fff;
}

.gallery {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1148px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  list-style-type: none;
  height: 200px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  max-width: 100%;
}

.gallery-item:hover {
  transform: scale(1.04);
}
